@model List<_01_CarDealerShipQuery.Contracts.VehicleCategory.VehicleCategoryQueryModel>


<!--====================  category area ====================-->
<div class="category-area section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  category wrapper  =======-->
                <div class="category-wrapper">
                    <div class="row row-10 masonry-category-layout">

                        @foreach (var Category in Model)
                        {
                            @*<div class="col-lg-4 col-sm-6 grid-item">
                                <!--=======  single category item  =======-->
                            <div class="single-category-item">
                                    <div class="single-category-item__image">
                                        <a asp-page="/VehicleCategory" asp-route-id="@Category.Slug" >
                                            <img src="@Category.Picture" class="img-fluid" alt="@Category.PictureAlt" title="@Category.PictureTitle">
                                        </a>
                                    </div>
                                    <div class="single-category-item__content">
                                        <h3 class="title">@Category.Name</h3>
                                        <a asp-page="/VehicleCategory" asp-route-id="@Category.Slug">
                                            <i class="ion-android-arrow-dropleft-circle"></i> خرید
                                        </a>
                                    </div>
                                </div>
                                <!--=======  End of single category item  =======-->
                        </div>*@
                        <div class="col-lg-4 col-sm-6 grid-item">
                                <!--=======  single category item  =======-->
                                <div class="single-category-item">
                                    <div class="single-category-item__image">
                                        <a asp-page="/ProductCategory">
                                            <img src="@Category.Picture" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="single-category-item__content">
                                        <h3 class="title">Storage</h3>
                                        <a href="shop-left-sidebar.html"><i
                                                class="ion-android-arrow-dropleft-circle"></i> Shop Now</a>
                                    </div>
                                </div>
                                <!--=======  End of single category item  =======-->
                            </div>
                        }


                    </div>
                </div>
                <!--=======  End of category wrapper  =======-->
            </div>
        </div>
    </div>
</div>
<!--====================  End of category area  ====================-->